.container {

    display: flex;
    height: 100%;
}

.UserChat {
    display: flex;
    justify-content: center;
    width: 100%;
}

.UserChat .Center{
    display: grid;
    justify-content: center;
    width: 800px;
    margin-top: 100px;
}

.InputBox {
    border: 1px solid black;
    border-radius: 30px;
    height: 28px;
    display: flex;
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 800px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-height: 250px;
}

.InputBox textarea {
    width: 650px;
    font-size: 16px;
    line-height: 24px;
    resize: none;
    background-color: transparent;
    max-height: 230px;
    border: none;
    appearance: none;
    height: 24px;
    position: absolute;
    left: 50px;
    outline: none;
}
.InputBox button {
    background-color: white;
    border: none;
    position: absolute;
    right: 40px;
    cursor: pointer;
}
.InputBox img{
    width: 40px;
    height: 40px;
    transform: rotate(270deg);
}

.Query {
    width: 800px;
    display:flex;
    justify-content: right;
    align-items: center;
}

.Query p{
    text-align:initial;
    max-width: 700px;
    padding: 20px 20px;
    border-radius: 15px 0px 15px 15px;
    background-color: #CEF6FF;
    overflow-wrap: break-word;
    word-break: break-all;
}


.Response {
    width: 800px;
    display: grid;
    justify-content: left;
    align-items:;

}

.Response img{
    text-align: left;
}

.Response p{
    text-align: left;
    max-width: 700px;
    padding: 20px 20px;
    border-radius: 0px 15px 15px 15px;
    background-color: #E0E0E0;
    overflow-wrap: break-word;
    word-break: break-all;
}